/* ./src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;


        scroll-behavior: smooth;
    }
}

body {
    @apply bg-gray-900 text-white;
    background-image: url('./img/background.png');
    background-size: cover;
}

@layer components {
    .btn {
        @apply text-white font-bold py-2 px-4 rounded-lg bg-[#9598bb91] backdrop-blur-lg hover:scale-105 duration-100;
    }
    .script-text {
        @apply w-full text-[#c6c8c6];
    }
    .script-num {
        @apply w-3 text-[#717373] px-6 text-center;
    }
    .field {
        @apply rounded-lg w-full p-4 text-black
    }
}

.card:hover > div > .folder > .subfolder {
    transform: rotate(-5deg) translateX(-0.5rem);
    box-shadow: 0 0px 20px -10px rgb(0 0 0)
}

.card:hover > div > .folder > .cover {
    transform: rotate(-9deg) translateX(-1.5rem);
    box-shadow: 0 0px 20px -10px rgb(0 0 0)
}

.card:hover {
    transform: scale(1.015);
}


.typewriter h1 {
    @apply overflow-hidden whitespace-nowrap;
    border-right: .15em solid; /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 1px; /* Adjust as needed */
    animation:
            typing 1.5s steps(13, end),
            blink-caret .55s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.code-line {
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
}

.markdown ol,ul {
    list-style: revert;
    margin: revert;
    padding: revert;
}
